.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
  }
  
  .amountDisplay {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .confirmButton {
    margin-top: 20px;
  }
  
  