@import 'variables';

body {
  font-family: $font-family;
  font-size: $font-size-medium;
  color: #333;
  background-color: #f4f4f4;
}

.ion-page {
  background-color: #ffffff;
}

// Estilos globales adicionales...

