.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.chargeButton {
  font-size: 1.2em;
  height: 60px;
  width: 80%;
  max-width: 300px;
  --background: rgba(255, 255, 255, 0.9);
  --color: var(--ion-color-primary);
}

