.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .chargeButton {
    font-size: 1.2em;
    height: 60px;
    width: 80%;
    max-width: 300px;
  }
  
  