.header {
  ion-toolbar {
    --background: transparent;
    --color: #ffffff;
    --border-style: none;
    --padding-top: 20px;
    --padding-bottom: 20px;

    ion-title {
      font-size: 20px;
      font-weight: 600;
      text-align: center;
    }
  }
}

